:root {
    --text-color: #ffffff;
    --font-family:sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #272D20;
    padding: 0 11% ;
}
.main-heading{
    color: #DAA520;
    font-family: var(--font-family);
    max-width: 783.69px;
    font-size: clamp(2rem, 9vw, 5rem);
    margin-bottom: 50px;
    line-height: 1.3;
}
.about{
    color: var(--text-color);
    font-family: var(--font-family);
    max-width: 783.69px;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    margin-bottom: 55px;
    line-height: 1.4;
    opacity: 0.8;
}
.button{
    border: none;
    color: var(--text-color);
    background-color: #379237;
    font-weight: bold;
    padding: 14px 25px;
    width: 170px;
    border-radius: 30px;
    cursor: pointer;
}